.jobItems-bgColor {
  background-color: #272727;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
}
.container-part1 {
  display: flex;
}
.job-logo-img {
  height: 70px;
  width: 70px;
}
.job-heading1 {
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
  margin-top: 0px;
}
.job-para1 {
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
  margin-left: 8px;
}
.starIcon {
  color: #fbbf24;
}
.ratings-container {
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.container-1 {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.location-icon {
  color: white;
  height: 25px;
  width: 25px;
  margin: 16px;
}
.location-container {
  display: flex;
  color: white;
}
.work-container {
  display: flex;
  color: white;
}
.work-icon {
  color: white;
  height: 25px;
  width: 25px;
  margin: 16px;
}
.container-part2 {
  display: flex;
}
.container-main-part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p2 {
  font-family: 'Roboto';
  color: white;
  font-size: 14px;
  padding: 16px;
}
.p3 {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}
