.bg-color {
  background-color: black;
  padding: 22px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: #272727;
  border-radius: 8px;
  width: 400px;
  padding: 16px;
}
.input-label {
  padding: 18px;
  width: 100%;
  text-align: start;
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
}
.input-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-img {
  height: 100px;
  width: 200px;
}
.username-input-field {
  width: 85%;
  outline: none;
  border-width: 0px;
  background-color: #272727;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #cbd5e1;
  color: white;
}
.login-btn {
  width: 85%;
  margin: 16px;
  color: white;
  background-color: #6366f1;
  border-radius: 8px;
  padding: 12px;
  border-width: 0px;
  outline: none;
}
.error-msg {
  color: red;
  font-family: 'Roboto';
  font-size: 12px;
}
